services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - backend

  testovoe:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    container_name: testovoe
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - CONFIG_PATH=./config.yaml
      - GOOSE_DBSTRING=${GOOSE_DBSTRING}
    ports:
      - "8081:8081"
    networks:
      - backend

networks:
  backend:
